{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Kirish</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="auth-page">
    <div class="auth-card">
        <div class="auth-icon">👤</div>
        <h1>Xush kelibsiz!</h1>
        <p>Hozircha faqat ismingizni kiriting</p>
        <!-- <form action="#" method="post">
        <div class="form-group">
            <label>Ismingiz</label>
            <input type="text" name="username" placeholder="Masalan: Jamshidbek" required>
        </div>
        <button class="btn primary" type="submit">Kirish →</button>
        </form> -->
        <form action="products.html" method="get">
            <div class="form-group">
                <label>Ismingiz</label>
                <input type="text" name="username" placeholder="Masalan: Jamshidbek" required>
            </div>

            <button class="btn primary" type="submit">
                Kirish →
            </button>
        </form>
    </div>
</div>
</body>
</html>