{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahsulotlar</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header class="header">
    <a class="logo" href="{% url 'products:products'%}">
        Food<span>Delivery</span>
    </a>
    <nav class="nav">
        <a href="{% url 'products:products'%}">Mahsulotlar</a>
        <a href="orders.html">Buyurtmalar</a>
        <a href="cart.html">🛒 Savat</a>
        <span>👤 {{ request.user.first_name }}</span>
    </nav>
</header>
<main class="container">
    <div class="page-title">
        <div>
            <h1>Mahsulotlar</h1>
            <p>Kategoriyadan mahsulot tanlang</p>
        </div>
        <form action="" method="get">
            {% csrf_token %}
            <input name="search" style="padding:11px;border:1px solid #ddd;border-radius:8px" placeholder="Qidirish..." value="{{search}}">
            <button class="btn primary">Qidirish</button>
        </form>
        
    </div>
    <div class="sidebar-layout">
        <aside class="card categories">
            <h3>Kategoriyalar</h3>
            <a class="active" href="#">
                Barchasi
            </a>
            {% for category in categories%}
                <a href="#">
                        {{ category.name }}
                </a>
            {% endfor %}
        </aside>
        <section class="grid">
            {% for product in products %}
                <article class="card">
                    <div class="product-image"
                        style="
                            width: 100%;
                            height: 180px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;
                            background: #fff1ec;
                        ">

                        {% if product.img %}
                            <img
                                src="{{ product.img.url }}"
                                alt="{{ product.name }}"
                                style="
                                    width: 150px !important;
                                    height: 150px !important;
                                    max-width: 150px !important;
                                    max-height: 150px !important;
                                    object-fit: contain !important;
                                    display: block !important;
                                "
                            >
                        {% else %}
                            <img
                                src="{% static 'css/no_image.jpg' %}"
                                alt="No image"
                                style="
                                    width: 150px !important;
                                    height: 150px !important;
                                    max-width: 150px !important;
                                    max-height: 150px !important;
                                    object-fit: contain !important;
                                    display: block !important;
                                "
                            >
                        {% endif %}
                    </div>
                    <span class="badge">
                        {{ product.category.name }}
                    </span>
                    <h3>
                        {{ product.name }}
                    </h3>
                    <p class="muted">
                        {{ product.description }}
                    </p>
                    <div class="product-footer">
                        <span class="price">
                        {{product.price}} so'm
                        </span>
                        <a
                            class="btn primary"
                            href="{% url 'products:product_detail' product.pk %}"
                        >
                            Ko'rish
                        </a>
                    </div>
                </article>
            {% endfor %}
                
        </section>
    </div>
</main>
</body>
</html>